
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Times New Roman', Times, serif;
  background-image: url('./assets/images (3).jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
}
